.form-container {
	max-width: 700px;

	.form {
		display: flex;
		flex-direction: column;
		border-radius: 0.3em;
		background-color: var(--surface2);
		padding: 2em;
	}

	.form__text {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;

		.label {
			color: var(--text);
			font-family: 'Poppins', sans-serif;
			font-size: 1.3rem;
			margin-bottom: 0.5em;
		}

		#text {
			resize: none;
			border: none;
			border-bottom: 1px solid #bbc8ce;
			padding: 0.8em;
			padding-bottom: 0.1rem;
			background-color: transparent;
			// font-family: 'Inconsolata';
			font-size: 1.5rem;
			font-weight: 300;
			white-space: nowrap;
			color: #fff;
			margin-bottom: 1rem;
			width: 100%;
			overflow: hidden;

			&:focus-visible {
				border: none;
				border-bottom: 2px solid white;
				outline: none;

				&::placeholder {
					color: #fff;
				}
			}

			&::placeholder {
				color: gray;
			}
		}
	}
}

.form__btn {
	position: relative;
	background-color: rebeccapurple;
	color: #fff;
	width: 10em;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5em;
	margin: auto;
	border: 1px solid #3b3b3b;
	border-radius: 50px;
	// box-shadow: 0px 3px 10px 3px #101010;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	transition: 1s;
	letter-spacing: 0.5px;

	&[disabled] {
		background-color: #b4aebb;
		&:hover {
			background: #b4aebb;
		}
	}

	&:hover {
		// letter-spacing: 2px;
		background: var(--surface1);
	}

	&.loading {
		background-color: #b18bd6;

		&::before {
			content: '';
			position: absolute;
			top: 0.6em;
			left: 0.6em;
			height: 13px;
			width: 13px;
			border-radius: 50%;
			border: 4px solid white;
			border-left: 4px solid transparent;
			animation: spin 1s infinite linear;
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
